.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear, rainbow-flash 1s infinite;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  @keyframes rainbow-flash {
  0%   { filter: hue-rotate(0deg); }
  25%  { filter: hue-rotate(90deg); }
  50%  { filter: hue-rotate(180deg); }
  75%  { filter: hue-rotate(270deg); }
  100% { filter: hue-rotate(360deg); }
  }
}
